---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'Helvetica', 'Arial', sans-serif;
$base-font-size:   .95em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #0077CC;

$blue-color-dark: darken(#3E7AD1, 10%);
$blue-color-light: #4B93DB;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:    950px;

$on-palm:          600px;
$on-laptop:        950px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "header",
	"mobile-header",
    "base",
    "layout",
    "syntax-highlighting",
	"image"
;

.gallery {
    --n: 3; /* number of rows*/
    --m: 4; /* number of columns */
    --h: calc((100vh - (var(--n) - 1)*var(--g))/var(--n));
    --w: calc((100vw - (var(--m) - 1)*var(--g))/var(--m)); 
    --g: 10px;  /* control the gap */
    --f: 1.5;   /* control the scale factor */
    
    display: grid;
    gap: var(--g);
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(var(--m),auto);
  }
  
  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
  }
  
  .gallery img:hover{
    filter: grayscale(0);
    width:  calc(var(--w)*var(--f));
    height: calc(var(--h)*var(--f));
  }
  
  
  body {
    margin: 0;
    background: #60c4ff;
  }
